default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("DB_USERNAME", "factorial_shop") %>
  password: <%= ENV.fetch("DB_PASSWORD", "password") %>
  host: <%= ENV.fetch("DB_HOST", "db") %>

development:
  <<: *default
  database: factorial_shop_development

test:
  <<: *default
  database: factorial_shop_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
